 
    <nav class="navbar navbar-default navbar-fixed-top">

        <a href="#" class="sidebar-toggle pull-right" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <select class="select2" name="reportsFilter" multiple="multiple">
            <optgroup label="فیلتر">
            <option label="فقط اطراف من" value="1">فقط اطراف من</option>
            <option label="فقط گزارش‌های من" value="2">فقط گزارش‌های من</option>
            <option label="فقط شامل مشارکت‌های من" value="3">فقط شامل مشارکت‌های من</option>
            </optgroup>
            <optgroup label="شامل">
        <option label="درخواست حمل و نقل" value="4">درخواست حمل و نقل</option>
        <option label="درخواست کمک مالی" value="5">درخواست کمک مالی</option>
        <option label="خاتمه یافته" value="6">خاتمه یافته</option>
            </optgroup>
        </select>
        @*<div class="dropdown show pull-right">
            <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                <span class="fa fa-file"></span>&nbsp; همه گزارش‌ها <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">همه گزارش‌ها</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">اطراف من</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">گزارش‌های من</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">مشارکت‌های من</a></li>
            </ul>
        </div>
        <div class="dropdown show pull-right">
            <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                <span class="fa fa-sliders"></span>&nbsp; همه موارد <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">درخواست حمل و نقل</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">درخواست کمک مالی</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">خاتمه یافته</a></li>
            </ul>

        </div>*@
    </nav>
