@page "/reports"
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]
<h3>@userName</h3>

@code {
    private string? userName = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        userName = authState.User.FindFirst(c => c.Type == "name")?.Value;
    }

}