@inherits ReportItemBase
@using rescute.Web.Pages.Report.ViewModel
@implements ISliderItem
<div class="card bill">
    <ItemTopBar Parent="@(this)"/>
    <div class="card-body">
        <Carousel Parent="@(this)"/>
    </div>
    <div class="card-footer">
        <div class="footer-title">
            <h5 class="bill-total">210,000 تومان</h5>
            <button class="btn btn-secondary btn-sm left">درخواست کمک مالی</button>
        </div>
        <div class="footer-subtitle">
            <p>
                @Description
            </p>
        </div>
        <div class="footer-toolbar dropup">
            <a href="" class="btn btn-sm btn-secondary"><i
                    class="fa fa-fw fa-comment"></i>&nbsp;<span>12 پیام</span></a>
            <ItemMenu Parent="@(this)"/>
        </div>
    </div>
</div>

@code {
    public override string ReportItemCaption => "صورت\u200cحساب خدمات";
    protected override string ReportItemName => "bill";
    [Parameter] public required IList<ReportItemSlide> Slides { get; set; }
}