@inherits ReportItemBase
@using rescute.Web.Pages.Report.ViewModel
@implements ISliderItem
<div class="card medical-document">
    <ItemTopBar Parent="@(this)"/>
    <div class="card-body">
        <Carousel Parent="@(this)"/>
    </div>
    <div class="card-footer">
        <div class="footer-subtitle">
            <p>
                @Description
            </p>
        </div>
        <div class="footer-toolbar dropup">
            <a href="" class="btn btn-secondary btn-sm"><i
                    class="fa fa-fw fa-comment"></i>&nbsp;<span>12 پیام</span></a>
            <ItemMenu Parent="@(this)"/>
        </div>
    </div>
</div>

@code {
    protected override string ReportItemName => "medicalDocuments";
    public override string ReportItemCaption => "مدارک پزشکی";
    [Parameter] public required IList<ReportItemSlide> Slides { get; set; }
}