@using rescute.Web.Pages.Report.ViewModels
<div class="chat modal fade show transport-request" id="chat" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="chat-title">
                        <span>
                            <a class="card-profile" href="#">
                                <img src="img/profile.jpg" data-bs-toggle="tooltip" data-placement="top"
                                     alt="احسان حسینخانی" title="احسان حسینخانی"/>
                            </a>درخواست حمل و نقل
                        </span>
                    <span class="time-stamp left" data-bs-toggle="tooltip" data-placement="bottom"
                          title="25 مرداد 1400">12:17 PM</span>
                </div>
                <nav class="chat-profiles">
                        <span>
                            <a class="chat-profile selected" href="#">
                                <img src="img/profile1.jpg" data-bs-toggle="tooltip" data-placement="bottom"
                                     alt="احسان حسینخانی" title="احسان حسینخانی"/>
                            </a>
                        </span>
                    <span>
                            <a class="chat-profile unread" href="#">
                                <img src="img/profile2.jpg" data-bs-toggle="tooltip" data-placement="bottom"
                                     alt="بنگ دینگ آو" title="احسان حسینخانی"/>
                            </a>
                        </span>
                    <span>
                            <a class="chat-profile unread" href="#">
                                <img src="img/profile1.jpg" data-bs-toggle="tooltip" data-placement="bottom"
                                     alt="وی تو لو" title="احسان حسینخانی"/>
                            </a>
                        </span>
                    <span>
                            <a class="chat-profile" href="#">
                                <img src="img/profile1.jpg" data-bs-toggle="tooltip" data-placement="bottom"
                                     alt="احسان حسینخانی" title="احسان حسینخانی"/>
                            </a>
                        </span>
                    <span>
                            <a class="chat-profile unread" href="#">
                                <img src="img/profile2.jpg" data-bs-toggle="tooltip" data-placement="bottom"
                                     alt="بنگ دینگ آو" title="احسان حسینخانی"/>
                            </a>
                        </span>
                    <span>
                            <a class="chat-profile unread" href="#">
                                <img src="img/profile1.jpg" data-bs-toggle="tooltip" data-placement="bottom"
                                     alt="وی تو لو" title="احسان حسینخانی"/>
                            </a>
                        </span>
                    <span>
                            <a class="chat-profile" href="#">
                                <img src="img/profile1.jpg" data-bs-toggle="tooltip" data-placement="bottom"
                                     alt="احسان حسینخانی" title="احسان حسینخانی"/>
                            </a>
                        </span>
                    <span>
                            <a class="chat-profile unread" href="#">
                                <img src="img/profile2.jpg" data-bs-toggle="tooltip" data-placement="bottom"
                                     alt="بنگ دینگ آو" title="احسان حسینخانی"/>
                            </a>
                        </span>
                    <span>
                            <a class="chat-profile" href="#">
                                <img src="img/profile1.jpg" data-bs-toggle="tooltip" data-placement="bottom"
                                     alt="وی تو لو" title="احسان حسینخانی"/>
                            </a>
                        </span>

                </nav>
            </div>
            <div class="modal-body">
                <div class="their-chat-bubble">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                </div>
                <div class="their-chat-bubble">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</p>
                </div>
                <div class="my-chat-bubble">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                </div>
                <div class="their-chat-bubble">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                </div>
                <div class="their-chat-bubble">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</p>
                </div>
                <div class="my-chat-bubble">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                </div>
                <div class="their-chat-bubble">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                </div>
                <div class="their-chat-bubble">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</p>
                </div>
                <div class="my-chat-bubble">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                </div>
                <div class="their-chat-bubble">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                </div>
                <div class="their-chat-bubble">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</p>
                </div>
                <div class="my-chat-bubble">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                </div>

            </div>
            <div class="modal-footer">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="پیامی بنویسید" aria-label="پیامی بنویسید"
                           aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fa fa-arrow-left"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public required ReportItemBase Parent { get; set; }
    [Parameter] public required ChatViewModel ViewModel { get; set; }


}