<div class="carousel-item">
    <iframe style="height: 100%; width:100%; border: none;"
            frameborder="0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD-VRxYXnkJVHI733EUB491AUxl164pwsU&q=@Parent.Location&language=fa"
            allowfullscreen>
    </iframe>
</div>

@code {
    [Parameter] public required ICoordinatedItem Parent { get; set; }
}