<div class="carousel-item">
    <iframe style="height: 100%; width:100%; border: none;"
            frameborder="0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAxd0MnvcP4b9OZSkgeNclxjV6tgi3W5HU&q=@Parent.Location&language=fa"
            allowfullscreen>
    </iframe>
</div>

@code {
    [Parameter] public ICoordinatedItem Parent { get; set; }
}