<div class="card">
    <img src="@Image" alt="@Description">
    <div class="card-body">
        <div class="card-icons">
            <span>
                <i class="fa fa-fw fa-clock-o"></i>@Timestamp
            </span>
            <span class="left"><i class="fa fa-fw fa-map-marker"></i>@Distance</span>
        </div>
        <p class="card-text">@Description</p>
        <a class="btn btn-primary view-button" href="/details">مشاهده</a>
    </div>
</div>

@code {
    [Parameter] public required string Timestamp { get; set; }
    [Parameter] public required string Distance { get; set; }
    [Parameter] public required string Description { get; set; }
    [Parameter] public required string Image { get; set; }
}