<nav class="top-bar bg-rescute">
    <div id="pillsContainer" class="container-fluid ">
        <SectionOutlet SectionName="TopBarItems"/>
    </div>
    <a class="navbar navbar-brand" href="#">
        <div>
            <img src="img/logo-light.png" alt="rescute">
        </div>
    </a>
</nav>