<button type="button" class="btn btn-primary btn-sm nav-pill" data-bs-toggle="button" aria-pressed="false" autocomplete="off">
    @Text
</button>

@code {
    [Parameter] public string? Text { get; set; }
}