@page "/index"
@using Microsoft.AspNetCore.Components.Sections
@using rescute.Web.Pages.Reports.Components
@using rescute.Web.Pages.Shared.Components

@* @attribute [Authorize] *@

<HeadContent>
    <link rel="stylesheet" href="css/rescute-reports.css?v=1">
    <title>rescute</title>
</HeadContent>

<SectionContent SectionName="TopBarItems">
    <Checkbox Text="گزارش‌های من"/>
    <Checkbox Text="مشارکت‌های من"/>
    <Checkbox Text="شامل درخواست حمل و نقل"/>
    <Checkbox Text="شامل درخواست کمک مالی"/>
</SectionContent>

<div class="container-fluid">
    <div class="d-flex flex-wrap reports">
        <ReportCard Image="img/reports/1.jpg" Distance="۲ کیلومتر" Timestamp="۳۰ دقیقه پیش"
                    Description="لازمه ببرمش دکتر"/>
        <ReportCard Image="img/reports/2.jpg" Distance="600 متر" Timestamp="دیروز"
                    Description="دست این بچه انگار شکسته، میخوام ببرمش دکتر ببینم چه خاکی باید به سرم بریزم که بدبخت شدیم خدا بخیر کنه"/>
    </div>
    <NewReportButton/>
</div>