@page "/reports"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using rescute.Web.Pages.Reports.Components
@using rescute.Web.Pages.Reports.ViewModels
@using rescute.Web.Pages.Shared.Components
@inject ReportsViewModel ViewModel;
@inject IStringLocalizer<LocalizationResources> Localizer
@rendermode InteractiveServer

@* @attribute [Authorize] *@

<HeadContent>
    <link rel="stylesheet" href="css/rescute-reports.css?v=2">
    <title>rescute</title>
</HeadContent>

<SectionContent SectionName="TopBarItems">
    <Checkbox Text=@Localizer[LocalizationResources.MyReports]/>
    <Checkbox Text=@Localizer[LocalizationResources.MyContributions]/>
    <Checkbox Text=@Localizer[LocalizationResources.HasTransportRequest]/>
    <Checkbox Text=@Localizer[LocalizationResources.HasFundraiser]/>
</SectionContent>

<div class="container-fluid">
    @if (ViewModel.IsInitialized())
    {
        <div class="d-flex flex-wrap reports">

            @foreach (var report in ViewModel.Reports)
            {
                <ReportCard Image=@report.Image Distance=@report.Distance Timestamp=@report.Time
                            Description=@report.Description/>
            }
            <LoadMore LoadMoreClicked="@ViewModel.LoadNextPage" @rendermode="InteractiveServer"/>
        </div>
    }
    <NewReportButton/>
</div>

}

@code {
    protected override async Task OnInitializedAsync()
    {
        ViewModel.PageIndex = 0;
        await ViewModel.Initialize();
    }
}